{% load static%}

<DOCTYPE HTML5>
<html>
  <head>
      <link rel="stylesheet" href="{% static 'css/bbs.css' %}">
      <!link rel="stylesheet" type="text/css" href="css/bbs.css">
      <title>학생증사전등록시스템 게시판</title>
  </head>
<body>
   <div id="mainWrapper">
        <ul>
            <!-- 게시판 제목 -->
            <li>학생증 사전 등록 시스템</li>

            <!-- 게시판 목록  -->
    <table style="width:900px; border:1px solid black;" class="table">
        <thead>
            <tr class="th_color">
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일시</th>
                <th>조회수</th>
            </tr>
        </thead>
            {% for board in board_list %}
            <tbody>
                <tr class="td_color" >
                    <td>{{board.board_id}}</td>
                    <td onclick="location.href='/delete/{{board_list.pk}}">{{board.title}}</td>
                    <td>{{board.school_name}}</td>
                    <td>{{board.reporting_date}}</td>
                    <td >{{board.hit_count}}</td>
                </tr>
            </tbody>
            {% endfor %}
    </table>


            <!-- 게시판 페이징 영역 -->
            <li>
                <div id="divPaging">
                    <div>◀</div>
                    <div><b>1</b></div>
                    <div>2</div>
                    <div>3</div>
                    <div>4</div>
                    <div>5</div>
                    <div>▶</div>
                </div>
            </li>

            <!-- 검색 폼 영역 -->
            <li id='liSearchOption'>
                <div>
                    <select id='selSearchOption' >
                        <option value='A'>제목+내용</option>
                        <option value='T'>제목</option>
                        <option value='C'>내용</option>
                    </select>
                    <input id='txtKeyWord' />
                    <input type='button' value='검색'/>
                </div>
                </li>

        </ul>
    </div>
</body>
</html>