{% load static%}
<html>
    <head>
   <link rel="stylesheet" href="{% static 'css/bbs.css' %}">
        <title>학생증사전 등록 시스템 등록</title>
    </head>
<body>
    <h3> 학생 정보 수기 등록</h3>

    <label for="input1">학생이름 : </label>
        <input type="text" id="input1">

        <label for="input2">학번 : </label>
        <input type="text" id="input2">

        <label for="input2">주민번호 : </label>
        <input type="text" id="input2">

        <label for="input2">주소 : </label>
        <input type="text" id="input2">

            <input type="button" value="+">


</body>
</html>